<div class="chooseChartType">
  <h2>Chart type</h2>
  <button class="dropdown">Chart type</button>
  <ul class="options">
    <li>
      <button (click)="updateOption('horizontal')">
        Horizontal Bar
      </button>
    </li>
    <!--buttons should not have values-->
    <li>
      <button (click)="updateOption('vertical')">
        Vertical Bar
      </button>
    </li>
    <li>
      <button (click)="updateOption('pie')">
      Pie Chart
      </button>
    </li>
    <li>
      <button (click)="updateOption('bvs')">
        Bar-Vertical-Stacked
      </button>
    </li>
    <li>
      <button (click)="updateOption('bhs')">
    Bar-Horizontal-Stacked
      </button>
    </li>
    <li>
      <button (click)="updateOption('bvGrouped')">
        Bar-Vertical-Grouped
      </button>
    </li>
    <li>
      <button (click)="updateOption('bhGrouped')">
        Bar-Horizontal-Grouped
      </button>
    </li>
  </ul>
</div>

<!--Choose color theme-->
<div class="chooseColorTheme">
  <h2>Choose color theme</h2>
  <button class="dropdown">Color Theme</button>
  <ul class="options colorOptions">
    <li><button (click)="updateTheme('default')">Default</button></li>
    <li><button (click)="updateTheme('dark')">Dark</button></li>
    <li><button (click)="updateTheme('light')">Light</button></li>
    <li><button (click)="updateTheme('creme')">Cremes</button></li>
  </ul>
</div>
