<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="app.component.css"> -->
  </head>
  <body>
    <!-- <div class="component componentOne">
      <p>This is component one</p>
      <app-course></app-course>
    </div>
    <div class="component componentTwo">
      <p>This is component two</p>
      <app-calculator></app-calculator>
    </div>
    <div class="component componentThree">
      <p>This is component three</p>
      <app-user-form></app-user-form>
    </div>
    <div class="component componentFour">
      <p>This is component four</p>
      <app-to-do-list></app-to-do-list>
    </div>
 -->
    <div class="container">
      <div class="component componentFive">
        <p>This is component five</p>
        <app-component-one></app-component-one>
      </div>

      <!-- <div class="component componentSix">
        <p>This is component six</p>
        <app-component-two></app-component-two>
      </div> -->
    </div>
  </body>
</html>
