<div class="parentComponent">
  <div class="inputOne">
    <input
      type="text"
      placeholder="Enter the password"
      [value]="password"
      (keyup.enter)="checkPassword($event)"
    />
  </div>
  <div class="childComponent">
    <app-component-two
      [componentTwoUserID]="password"
      (sendTaskList)="acceptTaskList($event)"
    ></app-component-two>
  </div>
  <div class="childComponent">
    <app-component-three
      [displayTaskList]="returnedTaskList"
    ></app-component-three>
  </div>
</div>
