<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="displayOptions">
      <app-display-options
        (sendOption)="acceptOption($event)"
        (sendThemeOption)="acceptThemeOption($event)"
      ></app-display-options>
    </div>
    <div class="displayCharts">
      <app-display-chart
        [chartOption]="chartOption"
        [themeOption]="themeOption"
      ></app-display-chart>
    </div>
  </body>
</html>
