<!-- <button (click)="toggleFunction()">
  {{ isVertical ? 'Show Horizontal' : 'Show Vertical' }}
</button> -->
<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="results | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'horizontal'"
>
</ngx-charts-bar-horizontal>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="results | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'vertical'"
>
</ngx-charts-bar-vertical>

<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="results | async"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'pie'"
></ngx-charts-pie-chart>

<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="resultsComplex | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
*ngIf="chartOption === 'bvs'">
</ngx-charts-bar-vertical-stacked>

<ngx-charts-bar-horizontal-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="resultsComplex | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
*ngIf="chartOption === 'bhs'">
</ngx-charts-bar-horizontal-stacked>

<!--Bar - Vertical - Grouped-->
<ngx-charts-bar-vertical-2d
  [view]="view"
  [scheme]="colorScheme"
  [results]="resultsComplex | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
*ngIf="chartOption === 'bvGrouped'">
</ngx-charts-bar-vertical-2d>

<!--Bar - Horizontal - Grouped-->
<ngx-charts-bar-horizontal-2d
  [view]="view"
  [scheme]="colorScheme"
  [results]="resultsComplex | async"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
*ngIf="chartOption === 'bhGrouped'">
</ngx-charts-bar-horizontal-2d>

<div class="customization">

<!--  Option to display/hide X-Axis and Y-Axis-->
  <div class="axisCustomization">
    <div class="xAxis">
      <input type="checkbox" id="xAxis" (click)="xAxisToggle()" checked />
      <label for="xAxis">Display X-axis</label>
    </div>
    <div class="yAxis">
      <input type="checkbox" id="yAxis" (click)="yAxisToggle()" checked />
      <label for="yAxis">Display Y-axis</label>
    </div>
  </div>
</div>
