<!-- <button (click)="toggleFunction()">
  {{ isVertical ? 'Show Horizontal' : 'Show Vertical' }}
</button> -->
<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'horizontal'"
>
</ngx-charts-bar-horizontal>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'vertical'"
>
</ngx-charts-bar-vertical>

<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="results"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient"
  (select)="onSelect($event)"
  *ngIf="chartOption === 'pie'"
></ngx-charts-pie-chart>
